<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musik Site</title>
</head>
<body>
    <div>
        <h1><a href="">Musik Web App</a></h1>
    </div>

    {% for keySignature in keySignatures %}
        <div>
            <p>Key: {{ keySignature.rootNote }} </p>
            <ul>
                {% for n in keySignature.notes.all %}
                    <li>{{ n.name }}</li>
                {% endfor %}
            </ul>
        </div>

    {% endfor %}


{% comment %}{% block content %}
  {% for newsletter in newsletter_list %}
    <h2>{{ newsletter.label }}</h2>
    <p>Volume {{ newsletter.volume }}, Number {{ newsletter.number }}</p>
    <p>{{ newsletter.article }}</p>
    <ul>
    {% for a in newsletter.article_set.all %}
      <li>{{ a.title }}</li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}{% endcomment %}


</body>
</html>